/* You can add global styles to this file, and also import other style files */
body{
    background-color: #f4f4f4;
    color: #000;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1em;
    -webkit-font-smoothing: antialiased;
}
img{
-khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.app-header-bg,.app-footer-bg{
    background-color: #21d192;
}
.media-el{
    width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    min-height: 500px;
}
.mcard {
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    background-color: #fff;
}
div.results.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
div.results.flex div.item {
    margin-top: 30px;
    color: #000;
}

div.results.flex.results_poster_mcard, div.results.flex.results_profile_mcard {
    justify-content: space-between;
}

div.results.flex.results div.item:nth-child(-n+4), div.results.flex.results_backdrop_mcard div.item:nth-child(-n+2), div.results.flex.results_poster_mcard div.item:nth-child(-n+2) {
    margin-top: 16px;
}

div.info_dtl .title{
    font-size: 1.9em !important;
}

div.info_dtl .overview{
    font-size: 1.2em !important;
}

div.item.mcard p.overview {
    word-wrap: break-word;
    white-space: normal;
    color: #4d4d4d;
    font-size: 0.9em;
    line-height: 1.2em;
    margin-top: 15px;
}

div.item p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
    width: 100%;
    line-height: 1.2em;
    margin: 0;
}

div.item.poster {
    width: 185px;
}

div.item.poster.mcard {
    display: flex;
    align-items: center;
}
div.item.mcard {
    width: 483px;
    background-color: #fff;
    box-sizing: border-box;
}

div.item.poster.mcard a.image_content {
    width: 185px;
}
div.item.poster div.image_content, div.item.backdrop div.image_content {
    height: 278px;
    line-height: 0;
}
div.item.poster.mcard div.info {
    width: 298px;
    height: 278px;
    position: relative;
    box-sizing: border-box;
    padding: 10px 16px 16px 16px;
    overflow: hidden;
}
div.item.poster.mcard div.info_dtl {
    position: relative;
    box-sizing: border-box;
    padding: 10px 16px 16px 16px;
    overflow: hidden;
}
div.item.mcard div.wrapper {
    display: flex;
}

div.item.mcard div.wrapper {
    display: flex;
}

div.item.mcard div.wrapper div.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
div.item p a, div.item a {
    color: #000;
    font-weight: 400;
}

div.item.mcard div.wrapper a {
    width: 100%;
    display: block;
    font-weight: 600;
    font-size: 1.1em;
    line-height: 1.1em;
}

div.item.mcard div.wrapper span {
    color: rgba(0,0,0,0.6);
    line-height: 1em;
}

.favorite_icon {
    font-size: 2em;
    margin-top: 20px;
}

span.subdtl_movie {
    width: 100%;
}

div.movie_dtl_wrapper{
    padding: 20px 0 20px 0;
    position: relative;
}

